/* Body */
body {
  margin: 0;
  /* background: url("../image/13611146.jpg"); */
  background-color: #5bc0de;
  font-family: 'Roboto';font-size: 16px;
}
/* Body end */

/* Button stiles */
.btn {
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: #000000;
/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
box-shadow: 0 0 20px #eee;
border-radius: 10px;
background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}
/* Button stiles end */

/* Header */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header video {
    display: block;
  }
}

.fa-instagram {
  color: #833AB4;
}
.fa-telegram {
  color: #0088CC;
}
.fa-whatsapp {
  color: #25d366;
}
/* Header */

/* Banner section */
.banner-section {
  background: #fff;
  opacity: 0.9;
  padding-top: 5%;
  padding-bottom: 40px;
}

/* .banner-section div h4, p {
  font-family: Brush Script MT, Brush Script Std, cursive;
} */

.btn-callBack {
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: 400;
    min-width: 175px;
    padding: 18px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
/* Banner section end */


/* About section */
.about__holder {
	padding: 60px 40px;
	background-color: #fff;
	position: relative;
  display: flex;
}

.about__img-holder {
  flex-basis: 40%;
	position: relative;
	margin-bottom: 0; }

.about__info {
	margin-top: 40px;
  flex-basis: 60%;
}

@media only screen and (min-width: 576px) {
	.about__holder {
		display: -webkit-box;
		display: flex;
		flex-wrap: nowrap; }
	.about__info {
		margin-left: 40px;
		margin-top: 0; }
  }

  @media only screen and (max-width: 800px) {
      .about__img-holder img{
      width:100%;
      height:auto;
      }
      .about__holder {
        display: flex;
        flex-direction: column;
      }
    }

@media only screen and (min-width: 992px) {
	.about__holder {
		padding: 80px 40px; }
	.about__info {
		max-width: 600px; } }

@media (min-width: 1280px) {
	.about__holder {
		-webkit-box-align: center;
		        align-items: center;
		max-width: 65%;
		margin-left: auto;
		padding: 160px 20px 160px 280px; }
	.about__img-holder {
		position: absolute;
		left: -400px; } }

@media (min-width: 1600px) {
	.about__holder {
		padding: 160px 20px 160px 360px; }
	.about__img-holder {
		left: -400px; } }
/* About section end */
/*-------------------------------------------------------*/


/* Advantages section */

#advantages{
    background: #fff;
    opacity: 0.9;
    padding-top: 4%;
}

.our_advantages {
  padding-bottom: 4%;
}

#advantages .col-md-3{
    border-bottom: 1px solid#cedada;
    border-left: 1px solid#cedada;
}

.advantages-box {
    position: relative;
    text-align: center;
    padding: 50px 0;
}

.advantages-box .title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.advantages-box img {
    display: block;
    margin: 0 auto 13px;
    height: 83px;
}

#advantages .col-md-3:first-child,
#advantages .col-md-3:nth-child(5){
    border-left: none;
}

#advantages .col-md-3:nth-child(5),
#advantages .col-md-3:nth-child(6),
#advantages .col-md-3:nth-child(7),
#advantages .col-md-3:nth-child(8){
    border-bottom: none;
}

#advantages {
    text-align: center;
}

#advantages h2{
    text-align: center;
}

#advantages .text{
    margin-bottom: 30px;
}

@media only screen and (max-width: 766px) {
  #advantages .col-md-3{
      border: none;
  }
  }
/* Advantages section end */

/* Price-list section */
section.pricing {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
  rgba(165,172,155,1) 0%,
  rgba(96,151,151,1) 100%,
  rgba(203,216,207,1) 100%,
  rgba(193,207,210,1) 100%);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 1rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/* Price-list section end */

/* Review section */

/* Review section end */
